

#rectangle{
	width: 260px;
	height: 380px; 
	background: rgb(169,69,69);
}

#side{
	width:60px;
	height:330px;
	background: rgb(178,201,222);
	margin-left: 200px;
	margin-top:-330px;
}

#bot{
	width:260px;
	height:50px;
	background: rgb(82,204,106);
	margin-top: -50px;
}

/*top*/div{ 
	width: 260px;
	height: 50px;
	background: rgb(124,84,204);
} 


.titles {
	font-size: 20px;
	font-family: Georgia;
}

#lol {
	font-size: 25px;
	font-family: Georgia;
}

#down{
	margin-top:50px;
}

#lol{
	background: rgb(124,84,204);
}

#C {
	margin-top: -325px;
	margin-left: 218px;
}

#C2 {
	margin-top: -300px;
	margin-left: 218px;
}

#Nine {
	margin-top: -275px;
	margin-left: 218px;
}
#O {
	margin-top: -250px;
	margin-left: 218px;
}
#Otwo {
	margin-top: -225px;
	margin-left: 218px;
}

#Othree {
	margin-top: -200px;
	margin-left: 218px;
}